@charset "UTF-8";

section{
    width: 80vw;
}

#lg{
    text-align: left;
    width: 300px;
    margin: 10px 10px;
}

#lg h1{
    display: inline-block;
    margin-left: 5px;

    position: absolute;
    transform: translateY(21px);
}

div#login{
    float: left;
}

div#singin{
    float: right;
}

hr{
    display: none;
}